---
const currentPath = Astro.url.pathname;
const navigationLinks = [
  { id: "about", href: "/", name: "About" },
  { id: "resume", href: "/resume", name: "Resume" },
  // { id: "portfolio", href: "/portfolio", name: "Portfolio" },
  // { id: "blog", href: "/blog", name: "Blog" },
  // { id: "contact", href: "/contact", name: "Contact" },
];
---

<nav class="navbar">
  <ul class="navbar-list">
    {
      navigationLinks.map((nav) => (
        <li id={nav.id} class="navbar-item">
          <a
            class={"navbar-link " + (nav.href == currentPath ? "active" : "")}
            href={nav.href}
          >
            {nav.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
